@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	background-color: #ffffff
	margin: 0
	width: 100%
	height: 100%

	min-height: 720px

.firstpage
	margin-bottom: 10px

.secondpage
	height: 100vh
	width: 100wh

.sitename
	display: flex
	flex-direction: column
	justify-content: center
	margin: 20px 20px
	text-align: center
	color: #ffffff
	font-size: 30px
	font-family: Roboto

.top
	width: 100%
	height: 100%
	display: flex	
	background-color: #2f283e
	min-width: 245px
	justify-content: center
	border-bottom-right-radius: 50px
	border-bottom-left-radius: 50px
	

.image
	height: 300px
	width: 200px
	color: #ffecd9
	font-size: 20px
	font-family: Roboto
	margin: 10px 10px 0 10px
	cursor: pointer

.textbox
	display: flex
	flex-direction: column
	justify-content: center


.button3
	width: 200px
	height: 30px
	border-color: red
	margin: 10px 10px
	font-size: 17px
	font-family: Roboto
	color: #2f283e
	text-align: center
	border-radius: 10px
	border: 1px solid #2f283e
	cursor: pointer

.button3:hover
	transition: 0.1s
	background-color: #2f283e
	border: 1px solid #ffecd9
	color: #ffecd9
		
.button3 :hover
	transition: 0.1s
	color: #ffecd9


.right_main
	width: 100%
	height: 100%
	display: flex
   display: inline-block		
	
.card
	width: 250px
	height: 100%
	border-radius: 10px
	min-height: 400px

.card:hover
	box-shadow: 2px 3px 30px 2px #5a5a5a
	
.pic
	width: 100%
	height: 60%
	padding: 10px

.col-sm
	display: flex
	justify-content: center
	margin-bottom: 10px

.col-sm-4
	display: flex
	justify-content: center
	margin-bottom: 10px

.image2
	height: 80%
	width: 100%
	color: #ffecd9
	margin-top: 12px
	border: 1px solid #2f283e
	border-radius: 10px
	background: repeating-linear-gradient(45deg, #2f283e, #2f283e 10px, #ffac85 10px, #ffac85 20px)

.text2
	width: 100%
	height: 30%

.cardtext
	text-align: center
	font-family: Roboto
	margin: 0

.butt
	width: 100%
	height: 10%
	display: flex
	justify-content: center

.button4
	width: 230px
	height: 30px
	border-color: red
	font-size: 17px
	font-family: Roboto
	color: #2f283e
	text-align: center
	border-radius: 10px
	border: 1px solid #2f283e
	cursor: pointer

.button4:hover
	transition: 0.1s
	background-color: #2f283e
	border: 1px solid #ffecd9
	color: #ffecd9

  
.button1
	width: 200px
	height: 30px
	margin: 30px 20px
	font-size: 17px
	font-family: Roboto
	color: #ffac85
	text-align: center
	border-radius: 10px
	border: 1px solid #ffac85
	cursor: pointer

.button1:hover
	transition: 0.1s
	background: #ffac85
	color: #2f283e
	border: 1px solid #2f283e


/*.wrapper 
/*  background-color: #1b1b1b
/* display: flex
/*  flex-direction: column
/*  height: 10%

/*.content 
/*	text-align: center
/*	color: #ffecd9
  /* flex: 1 0 auto

/*.footer 
  /*flex: 0 0 auto 

	





@import "media" // Always at the end
